## 파이썬을 활용한 빅데이터 분석 개론
### 2.2장 연습문제

In [10]:
#2
print('25/4 =',25/4)

25/4 = 6.25

In [19]:
#4
print('Program'+' is '+'Python')

Program is Python

In [20]:
#8
name = input('이름 입력 :')
sid = int(input('학번 입력 :'))
for i in range(1, 6, 1):
    print(i, '이름 :', name, '학번 :', sid)

이름 입력 : 홍길동
학번 입력 : 20245438

1 이름 : 홍길동 학번 : 20245438
2 이름 : 홍길동 학번 : 20245438
3 이름 : 홍길동 학번 : 20245438
4 이름 : 홍길동 학번 : 20245438
5 이름 : 홍길동 학번 : 20245438

In [15]:
#12
n = int(input('임의의 정수 n을 입력하고 Enter :'))
sum = 0
for i in range(1, n+1, 1):
    sum = sum + i
print('합계 :', sum)

임의의 정수 n을 입력하고 Enter : 10

합계 : 55

In [2]:
#13
def print_name(name, sid):
    for i in range(1, 6, 1):
        print(i, '이름 :', name, '학번 :', sid)

name = input('이름 입력 :')
sid = int(input('학번 입력 :'))
print_name(name, sid)

이름 입력 : 홍길동
학번 입력 : 20245438

1 이름 : 홍길동 학번 : 20245438
2 이름 : 홍길동 학번 : 20245438
3 이름 : 홍길동 학번 : 20245438
4 이름 : 홍길동 학번 : 20245438
5 이름 : 홍길동 학번 : 20245438

In [21]:
#14
#for 문을 이용한 함수
def for_sum(n):
    sum = 0
    for i in range(1, n+1, 1):
        sum = sum + i
    print('1부터', n, '까지의 합계 :', sum)

#while 문을 이용한 함수
def while_sum(n):
    i = 1
    sum = 0
    while(i <= n):
        sum = sum + i
        i = i + 1
    print('1부터', n, '까지의 합계 :', sum)

n = int(input('임의의 정수 n을 입력하고 Enter :'))
for_sum(n)
while_sum(n)

임의의 정수 n을 입력하고 Enter : 10

1부터 10 까지의 합계 : 55
1부터 10 까지의 합계 : 55