## 빅데이터 컴퓨팅 - 9주차

### 3.1장 - 국제우주정거장의 현재 위치

In [46]:
import requests
import json
url = "http://api.open-notify.org/iss-now.json"
r = requests.get(url)
print(r.text)
print(r.json())

{"message": "success", "iss_position": {"latitude": "16.1263", "longitude": "-38.0442"}, "timestamp": 1730166146}
{'message': 'success', 'iss_position': {'latitude': '16.1263', 'longitude': '-38.0442'}, 'timestamp': 1730166146}

In [44]:
import requests
import json
import time
url = "http://api.open-notify.org/iss-now.json"

for i in range(10):
    r = requests.get(url)
    dict = r.json()
    print(dict['iss_position'])
    time.sleep(1)

{'latitude': '14.7383', 'longitude': '-39.1381'}
{'latitude': '14.9618', 'longitude': '-38.9634'}
{'latitude': '15.0362', 'longitude': '-38.9050'}
{'latitude': '15.0859', 'longitude': '-38.8661'}
{'latitude': '15.1603', 'longitude': '-38.8077'}
{'latitude': '15.2595', 'longitude': '-38.7298'}
{'latitude': '15.3339', 'longitude': '-38.6713'}
{'latitude': '15.3835', 'longitude': '-38.6323'}
{'latitude': '15.4579', 'longitude': '-38.5737'}
{'latitude': '15.5074', 'longitude': '-38.5346'}

### 3.1장 - 통화에 대한 환전 비율

In [56]:
import requests
import json
url = "https://v6.exchangerate-api.com/v6/57cb4ffaae17552b820a29a8/latest/KRW"
r = requests.get(url)
dict = r.json()
print(dict['conversion_rates']['USD'])

0.00072298

In [74]:
import requests
import json
import pandas as pd
url = "https://v6.exchangerate-api.com/v6/57cb4ffaae17552b820a29a8/latest/KRW"
r = requests.get(url)
dict = r.json()
df = pd.DataFrame.from_dict(dict['conversion_rates'], orient='index')
print(df)
df.to_excel('KRW_exchange.xlsx')

            0
KRW  1.000000
AED  0.002654
AFN  0.048080
ALL  0.065820
AMD  0.280000
..        ...
XPF  0.079670
YER  0.180500
ZAR  0.012800
ZMW  0.019240
ZWL  0.020510

[162 rows x 1 columns]

### 3.2장 - 단기예보 데이터 불러오기

In [132]:
import requests
import json
import pandas as pd
url = "http://apis.data.go.kr/1360000/VilageFcstInfoService_2.0/getUltraSrtNcst"
queryParams = '?' + \
    'ServiceKey=' + '6Am%2BIufIFctg88%2BJZz5LjiUDp%2FenRhMVKWNhDheXqXjsYrz3961fupnYg9Rv%2FYhUe%2B9%2FJL6AQyhQzKmGzIKsSQ%3D%3D' + \
    '&pageNo=' + '1' + \
    '&numOfRows=' + '10' + \
    '&dataType=' + 'JSON' + \
    '&base_date=' + '20241028' + \
    '&base_time=' + '1400' + \
    '&nx=' + '55' + \
    '&ny=' + '120'

result = requests.get(url + queryParams)
print(result.text)

{"response":{"header":{"resultCode":"00","resultMsg":"NORMAL_SERVICE"},"body":{"dataType":"JSON","items":{"item":[{"baseDate":"20241028","baseTime":"1400","category":"PTY","nx":55,"ny":120,"obsrValue":"0"},{"baseDate":"20241028","baseTime":"1400","category":"REH","nx":55,"ny":120,"obsrValue":"71"},{"baseDate":"20241028","baseTime":"1400","category":"RN1","nx":55,"ny":120,"obsrValue":"0"},{"baseDate":"20241028","baseTime":"1400","category":"T1H","nx":55,"ny":120,"obsrValue":"19.2"},{"baseDate":"20241028","baseTime":"1400","category":"UUU","nx":55,"ny":120,"obsrValue":"-0.3"},{"baseDate":"20241028","baseTime":"1400","category":"VEC","nx":55,"ny":120,"obsrValue":"53"},{"baseDate":"20241028","baseTime":"1400","category":"VVV","nx":55,"ny":120,"obsrValue":"-0.2"},{"baseDate":"20241028","baseTime":"1400","category":"WSD","nx":55,"ny":120,"obsrValue":"0.5"}]},"pageNo":1,"numOfRows":10,"totalCount":8}}}

### 3.3장 - Iris 데이터

In [163]:
import seaborn as sns
df = sns.load_dataset('iris')
print(df.head())
print(df.describe())

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

### 3.3장 - Tips 데이터

In [143]:
import seaborn as sns
df = sns.load_dataset('tips')
print(df.head())
print(df.describe())

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

### 3.3장 - Titanic 데이터

In [155]:
import seaborn as sns
df = sns.load_dataset('titanic')
print(df.head())
print(df.describe())

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True
         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

### 3.3장 - 펭귄 데이터

In [161]:
import seaborn as sns
df = sns.load_dataset('penguins')
print(df.head())
print(df.describe())

  species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
0  Adelie  Torgersen            39.1           18.7              181.0
1  Adelie  Torgersen            39.5           17.4              186.0
2  Adelie  Torgersen            40.3           18.0              195.0
3  Adelie  Torgersen             NaN            NaN                NaN
4  Adelie  Torgersen            36.7           19.3              193.0

   body_mass_g     sex
0       3750.0    Male
1       3800.0  Female
2       3250.0  Female
3          NaN     NaN
4       3450.0  Female
       bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
count      342.000000     342.000000         342.000000   342.000000
mean        43.921930      17.151170         200.915205  4201.754386
std          5.459584       1.974793          14.061714   801.954536
min         32.100000      13.100000         172.000000  2700.000000
25%         39.225000      15.600000         190.000000  3550.000000
50%         44.450000      17.300000         197.000000  4050.000000
75%         48.500000      18.700000         213.000000  4750.000000
max         59.600000      21.500000         231.000000  6300.000000

### 3.3장 - sklearn 라이브러리에서 제공하는 diabetes 데이터

In [191]:
from sklearn import datasets
import pandas as pd
diabetes = datasets.load_diabetes()
df_diabetes = pd.DataFrame(diabetes.data, columns = diabetes.feature_names)
print(df_diabetes.head())
print(df_diabetes.age.describe())

        age       sex       bmi        bp        s1        s2        s3  \
0  0.038076  0.050680  0.061696  0.021872 -0.044223 -0.034821 -0.043401
1 -0.001882 -0.044642 -0.051474 -0.026328 -0.008449 -0.019163  0.074412
2  0.085299  0.050680  0.044451 -0.005670 -0.045599 -0.034194 -0.032356
3 -0.089063 -0.044642 -0.011595 -0.036656  0.012191  0.024991 -0.036038
4  0.005383 -0.044642 -0.036385  0.021872  0.003935  0.015596  0.008142

         s4        s5        s6
0 -0.002592  0.019907 -0.017646
1 -0.039493 -0.068332 -0.092204
2 -0.002592  0.002861 -0.025930
3  0.034309  0.022688 -0.009362
4 -0.002592 -0.031988 -0.046641
count    4.420000e+02
mean    -2.511817e-19
std      4.761905e-02
min     -1.072256e-01
25%     -3.729927e-02
50%      5.383060e-03
75%      3.807591e-02
max      1.107267e-01
Name: age, dtype: float64

### 3.3장 - sklearn 라이브러리에서 제공하는 wine 데이터

In [189]:
from sklearn import datasets
import pandas as pd
wine = datasets.load_wine()
df_wine = pd.DataFrame(wine.data, columns = wine.feature_names)
print(df_wine.head())
print(df_wine.alcohol.describe())

   alcohol  malic_acid   ash  alcalinity_of_ash  magnesium  total_phenols  \
0    14.23        1.71  2.43               15.6      127.0           2.80
1    13.20        1.78  2.14               11.2      100.0           2.65
2    13.16        2.36  2.67               18.6      101.0           2.80
3    14.37        1.95  2.50               16.8      113.0           3.85
4    13.24        2.59  2.87               21.0      118.0           2.80

   flavanoids  nonflavanoid_phenols  proanthocyanins  color_intensity   hue  \
0        3.06                  0.28             2.29             5.64  1.04
1        2.76                  0.26             1.28             4.38  1.05
2        3.24                  0.30             2.81             5.68  1.03
3        3.49                  0.24             2.18             7.80  0.86
4        2.69                  0.39             1.82             4.32  1.04

   od280/od315_of_diluted_wines  proline
0                          3.92   1065.0
1                          3.40   1050.0
2                          3.17   1185.0
3                          3.45   1480.0
4                          2.93    735.0
count    178.000000
mean      13.000618
std        0.811827
min       11.030000
25%       12.362500
50%       13.050000
75%       13.677500
max       14.830000
Name: alcohol, dtype: float64